@use 'styles/variables';

.checkbox-wrapper-19 {
  box-sizing: border-box;
  --background-color: #fff;
  --checkbox-height: 15px;
  display: flex;
  align-items: center;
  gap: 10px;

  &.disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  label:first-of-type {
    cursor: pointer;
    order: 1;
  }

  .hidden-checkbox {
    display: none;
  }

  .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .1) solid #000;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: border-color ease 0.2s;
    cursor: pointer;
    order: 2;

    &:disabled {
      opacity: 0.5;
    }

    &::before,
    &::after {
      box-sizing: border-box;
      position: absolute;
      height: 0;
      width: calc(var(--checkbox-height) * .2);
      background-color: variables.$accent-color;
      display: inline-block;
      transform-origin: left top;
      border-radius: 5px;
      content: " ";
      transition: opacity ease 0.5;
    }

    &::before {
      top: calc(var(--checkbox-height) * .72);
      left: calc(var(--checkbox-height) * .41);
      box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
      transform: rotate(-135deg);
    }

    &::after {
      top: calc(var(--checkbox-height) * .37);
      left: calc(var(--checkbox-height) * .05);
      transform: rotate(-45deg);
    }
  }

  .hidden-checkbox:checked + .check-box,
  .check-box.checked {
    border-color: #34b93d;
  }

  .hidden-checkbox:checked + .check-box::after,
  .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
  }

  .hidden-checkbox:checked + .check-box::before,
  .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    animation: dothatopcheck-19 0.4s ease 0s forwards;
  }
}

@keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}

@keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}
