@use 'styles/mixins';
@use 'styles/variables';

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &__text_block {
    color: variables.$accent-color;
    background-color: white;
    display: flex;
    gap: 14px;
    flex-direction: column;
    margin: 36px 0;
    max-width: 800px;
    padding: 32px;
    @media (min-width: 550px) {
      margin: 116px 0 0;
    }
    &>p {
      width: 100%;
      text-align: center;
    }

    &>p:nth-child(4) {
      text-align: right;
    }
  }

  &__button {
    all: unset;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    color:white;
    background-color: #929f7b;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    display: block;
    margin: 0 auto;
    &:hover {
      background-color: variables.$accent-color;
      transform: scale(1.3);
    }

  }

}
