.fade_in {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.4s ease-out, transform 0.6s ease-out;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade_in_left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.4s ease-out, transform 0.6s ease-out;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade_in_right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.4s ease-out, transform 0.6s ease-out;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.scale {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.4s ease-out, transform 0.6s ease-out;
  &.visible {
    opacity: 1;
    transform: scale(1);
  }
}

