@use 'styles/mixins';

.container {
  margin: 86px auto 36px;
  padding: 20px;
  color: #000;
  text-align: center;
  height: 430px;
  background-image: url("assets/one.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 350px;

}

.date {
  font-size: 18px;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

.title {
  position: absolute;
  color: white;
  left: 70px;
  top: 90px;
  width: 200px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-underline-offset: 5px;

  &::before {
    content: "";
    position: absolute;
    left: -80px;
    top: -150px;
    width: 350px;
    height: 210px;
    background-image: url("assets/euk4.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  @include mixins.cormorantFont;
}

.point {
  max-width: 90px;
  position: absolute;
  &.first {
    left: 30px;
    top: 170px
  }
  &.second {
    left: 170px;
    top: 170px
  }
  &.third {
    left: 60px;
    top: 316px
  }
  &.fourth {
    left: 200px;
    top: 316px
  }
  &__time {
    @include mixins.cormorantFont;
    font-weight: 500;
    font-size: 24px;
    max-width: 90px;
    color: #ffffff;
  }
  &__about {
    @include mixins.cormorantFont;
    font-weight: 300;
    max-width: 90px;
    color: #ffffff;
  }
}
